@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Sacramento&display=swap');

html {
    scroll-padding-top: 2.5rem;
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    background-color: #29084C;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
}

header {
    background-color: #0a0c3f;
}

/* Nav */
nav {
    background-color: #0a0c3f;
    font-family: 'Montserrat';
    color: #D1CCCC;
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding-left: .8rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
}

/* Typography */
a {
    color: #D1CCCC;
    font-size: 20px;
    justify-content: left;
}

h1.slogan {
    color: #D1CCCC;
    text-align: center;
    font-size: 45px;
    font-size: 45px;
    margin-top: 300px;
}

/* Gradient text adapted from https://cssgradient.io/blog/css-gradient-text/ */
h1.sloganphrase {
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    background: -webkit-linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px 0;
}

h1 {
    color: #D1CCCC;
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

h2,
h3 {
    color: #D1CCCC;
    text-align: center;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

p {
    color: #D1CCCC;
    font-size: 24px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

/* Layout/Grid */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-padding {
    padding: 5% 5% 5% 5%;
}

/* Sections */
#aboutme {
    background-color: #0a0c3f;
    opacity: 1;
}

#contact {
    background-color: #0a0c3f;
    opacity: 1;
}

/* Portrait*/
#portrait {
    max-width: 100%;
    height: auto;
    float: right;
    padding: 2% 0% 2% 3%;
    opacity: 1;
}

/*Project Showcase code adapted from https://bbbootstrap.com/snippets/bootstrap-image-hover-effects-64168738 */
.image {
    overflow: hidden;
    height: 650px;
    width: 650px;
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0px;
    border: 0;
}

.image:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 565px;
    height: 500px;
    transform: translate(-140%, -50%);
    background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
    opacity: 0.8;
    transition: .8s
}

.image:hover:after {
    transform: translate(-50%, -50%)
}

h1.text {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-2000px, -50%);
    color: #fff;
    transition: .8s;
    transition-timing-function: ease-in
}

.image:hover h1.text {
    transform: translate(-50%, -50%);
    transition-timing-function: ease
}

/* Contact Form */
.form-group {
    padding: 15px;
    margin: 0 auto;
    max-width: 100%;
    color: #D1CCCC;
}

.btn {
    padding: 20px;
    margin: 0 auto;
    max-width: 85%;
    color: #D1CCCC;
    background-color: #29084C;
    font-size: 18px;
}

.btn:hover {
    background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
}

/* Circle Animation CSS Customised from https://codepen.io/Olwiba/pen/XRVrZQ */
.center {
    margin: 0 auto;
}

.outer-ring {
    position: absolute;
    left: calc(50% - 140px);
    top: 70px;
    height: 350px;
    width: 350px;
    background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
    border-radius: 50%;

    /*  Rotate  */
    animation-duration: 2s;
    animation-name: rotate;
    animation-iteration-count: infinite;
}

.inner-ring {
    position: absolute;
    left: calc(51% - 135px);
    top: 85px;
    height: 320px;
    width: 320px;
    background-image: url(../images/logoLarge.png);
    background-repeat: no-repeat;
    background-size: 325px 325px;
    border-radius: 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*  Circle Animation CSS Customised Finished*/

/*  Skills/Progress Bar Customised from CI Rosie Resume*/

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
    background-color: #D1CCCC;
    color: #29084C;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    font-size: 14px;
    padding: 3px 30px 2px 10px;
    color: #0a0c3f;
}

.progress-section {
    margin: 40px 20px;
}

/* Back to Top arrow */
.backtotop {
    padding: 0px 0px 0px 50px;
}

.backtotop a i {
    position: fixed;
    bottom: 0;
    width: 52px;
    height: 52px;
    padding: 22px 0;
    margin: 15px 0;
    border-radius: 50%;
    font-size: 1.4375rem;
    line-height: 7px;
    text-align: center;
    justify-content: center;
    color: #29084C;
    background: #D1CCCC;
    transition: all 0.35s ease-in-out;
}

.backtotop a i:hover {
    color: #D1CCCC;
    background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
}

/* Footer */
footer {
    background-color: #0a0c3f;
    font-family: 'Montserrat';
    color: #D1CCCC;
    display: flex;
    justify-content: center;
    padding: 15px;
    justify-content: center;
}

/* Social Links*/
.social-links li a i {
    width: 52px;
    height: 52px;
    padding: 22px 0;
    border-radius: 50%;
    font-size: 1.4375rem;
    line-height: 7px;
    text-align: center;
    justify-content: center;
    color: #D1CCCC;
    background: #29084C;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #D1CCCC;
    background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
}


/*  Media Screens*/
@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

@media (min-width: 640px) {
    body {
        font-size: 1rem;
    }
}

@media (min-width:960px) {
    body {
        font-size: 1.2rem;
    }
}

@media (min-width:1100px) {
    body {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 100px) {
    .outer-ring {
        left: calc(50% - 100px);
        top: 90px;
        height: 200px;
        width: 200px;
    }

    .inner-ring {
        left: calc(50% - 90px);
        top: 100px;
        height: 180px;
        width: 180px;
        background-size: 190px 190px;
    }

    h1.slogan {
        font-size: 25px;
    }

    h1.sloganphrase {
        font-size: 35px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
        text-align: inherit;
    }

    .image {
        height: 250px;
        width: 250px;
    }

    .image:after {
        width: 365px;
        height: 251px;
    }

    .backtotop {
        padding: 0px 0px 0px 10px;
    }
}

@media only screen and (min-width: 768px) {
    .outer-ring {
        left: calc(50% - 100px);
        top: 80px;
        height: 260px;
        width: 260px;
    }

    .inner-ring {
        left: calc(50% - 90px);
        top: 90px;
        height: 240px;
        width: 240px;
        background-size: 240px 240px;
    }

    h1.slogan {
        font-size: 40px;
        margin-top: 350px;
    }

    h1.sloganphrase {
        font-size: 60px;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 24px;
        text-align: inherit;
    }

    .image {
        height: 220px;
        width: 220px;
    }

}

@media only screen and (min-width: 992px) {

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 36px;
    }

    p {
        font-size: 26px;
        text-align: inherit;
    }

    .image {
        height: 220px;
        width: 220px;
    }

    #portrait {
        max-width: 60%;
        height: auto;
        float: right;
        padding: 2% 0% 2% 3%;
        opacity: 1;
    }

    .form-group {
        padding: 15px;
        max-width: 70%;
    }

    .btn {
        max-width: 40%;
        font-size: 25px;
    }

}

@media only screen and (min-width: 1500px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 40px;
    }

    p {
        font-size: 28px;
        text-align: inherit;
    }

    h1.slogan {
        font-size: 45px;
    }

    h1.sloganphrase {
        font-size: 75px;
    }

    #portrait {
        max-width: 60%;
    }

    .form-group {
        padding: 15px;
        max-width: 40%;
    }

    .btn {
        max-width: 20%;
        font-size: 25px;
    }
}